*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Nunito Sans, sans-serif;
}

.container{
    width:100vw;
    margin: 0 auto;
}

@media only screen and (min-width:1024px) { 
    .container{
        width:80vw;
        margin: 0 auto;
    }
}