$primary-color: #01fbe0;
$secondary-color: #292d2e;
$text-color: #a4a4a4;

.team-section{
    padding-top:35px;
    background-color: rgba(100,100,100,.05);
    .title{
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size:15px;
        margin-bottom: 35px;

        span{
            font-size: 25px;
        }

        hr{
            width:25vw;
            border:1px solid $primary-color;
            margin-top:10px;
        }
    }
    .membersDesktop{
        display:none;
    }
}

@media only screen and (min-width:1024px) {
.teamContainer{
    background-color: rgba(100,100,100,.05);
    .container{
        .team-section{
            background-color:rgba(1,1,1,0);
            .members{
                display:none;
            }
            .membersDesktop{
                display:flex;
                justify-content: space-around;
                margin:45px;
            }
        }
    }    
}
}