$primary-color: #01fbe0;
$secondary-color: #292d2e;
$text-color: #a4a4a4;

.courses-section{
    background-image: url("../../../docs/images/bgcurve.png");
    background-size:cover;
    background-position: -470px;
    padding-bottom: 25px;

    .title{
        display:flex;
        flex-direction: column;
        align-items: center;
        font-size:15px;
        margin-top:15px;
        margin-bottom: 35px;

        span{
            font-size: 25px;
        }

        hr{
            width:25vw;
            border:1px solid $primary-color;
            margin-top:10px;
        }
    }
}

@media only screen and (min-width:1024px) {
    .courses-section{
        background-image:none;
        .courses{
            display:flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    .coursesContainer{
        background-image: url("../../../docs/images/bgcurve.png");
        background-size:cover;
        background-position: -635px;
        background-repeat: no-repeat;
    }
}