$primary-color: #01fbe0;
$secondary-color: #292d2e;
$text-color: #a4a4a4;

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}

.teamMember{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    animation: appear .7s forwards;
    
    .teamImage{
        width:50vw;
        height:50vw;
        border-radius:25vw;
        overflow: hidden;
        img{
            width:50vw;
            height:50vw;
        }
    }
    h2{
        display:flex;
        align-items: center;
        justify-content: space-between;
        font-size:25px;
        color:$secondary-color;
        margin-top:25px;
        width:80vw;
        .frwdArrow{
            width:40px;
            cursor: pointer;
        }
        .backArrow{
            width:40px;
            transform: rotate(180deg);
            cursor: pointer;
        }
    }
    p{
        color:$text-color;
        width:70vw;
        margin:25px 0;
        text-align: justify;
    }
    button{
        outline: none;
        margin-bottom:45px;
        height:50px;
        width:35vw;
        border-radius:25px;
        color: white;
        background-color: $secondary-color;
        border:0;
        cursor: pointer;

        &:hover{
            background-color: $primary-color;
            border:0;
        }
    }
}